In [2]:
#  Домашнее_задание_от_Нетологии_по_теме "Классификация: Логистическая регрессия и SVM"
#  Автор - Корнилов А.В.
#  Преподователь - Пономарева Юлия

In [3]:
import pandas as pd
from sklearn.pipeline import make_pipeline
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC

Перед обучением моделей произведем анализ исходных данных

In [7]:
data = pd.read_csv('https://raw.githubusercontent.com/koresh123/-Classification-Logistic-Regression-and-SVM/refs/heads/main/adult.csv')
data.head()

   age  workclass  fnlwgt  ... hours-per-week  native-country income
0   25    Private  226802  ...             40   United-States  <=50K
1   38    Private   89814  ...             50   United-States  <=50K
2   28  Local-gov  336951  ...             40   United-States   >50K
3   44    Private  160323  ...             40   United-States   >50K
4   18          ?  103497  ...             30   United-States  <=50K

[5 rows x 15 columns]

In [9]:
data.shape

(48842, 15)

In [11]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48842 entries, 0 to 48841
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   age              48842 non-null  int64
 1   workclass        48842 non-null  object
 2   fnlwgt           48842 non-null  int64
 3   education        48842 non-null  object
 4   educational-num  48842 non-null  int64
 5   marital-status   48842 non-null  object
 6   occupation       48842 non-null  object
 7   relationship     48842 non-null  object
 8   race             48842 non-null  object
 9   gender           48842 non-null  object
 10  capital-gain     48842 non-null  int64
 11  capital-loss     48842 non-null  int64
 12  hours-per-week   48842 non-null  int64
 13  native-country   48842 non-null  object
 14  income           48842 non-null  object
dtypes: int64(6), object(9)
memory usage: 5.6+ MB

Первоначальный анализ говорит нам, что в данных нет пропусков и пустых строк

После визуального(глазами)  анализа данных делаем вывод, что в данном дата_сете пропуски заменены знаками вопроса(?)
при анализе того или иного столбца как целевого признака будем это учитывать

In [12]:
data.apply(lambda x: (x == '?')).sum()

age                   0
workclass          2799
fnlwgt                0
education             0
educational-num       0
marital-status        0
occupation         2809
relationship          0
race                  0
gender                0
capital-gain          0
capital-loss          0
hours-per-week        0
native-country      857
income                0
dtype: int64

Первоначально необходимо определиться со стротегией обучения, а именно
какие столбцы мы будем использователь как признаки для обучения модели
идея - разбить их на группы, то есть 
1. Целевая переменная очевидно зависит
2. Целевая переменная может зависить